// Custom color variables
$pampas: #f9f5ec; // Background for light designs
$martini: #d1c9b7; // Light accent
$flamingo: #f65129; // Primary brand color
$pale-oyster: #e8c9b0; // Dark accent
$balitic-sea: #201e26; // Dark shades

// Bootstrap color variables
$primary: $flamingo; // Primary
$info: $pampas; // Info
$success: #7f9344; // Success
$warning: #fc830c; // Warning
$danger: #f44336; // Danger

// Required
@import "/styles/bootstrap/functions";
@import "/styles/bootstrap/variables";
@import "/styles/bootstrap/mixins/";
@import "/styles/bootstrap/maps";
@import "/styles/bootstrap/root";
@import "/styles/bootstrap/helpers";

// Layout & Components
@import "/styles/bootstrap/containers";
@import "/styles/bootstrap/grid";
@import "/styles/bootstrap/buttons";
@import "/styles/bootstrap/images";
@import "/styles/bootstrap/type";
@import "/styles/bootstrap/reboot";

// Utilities
@import "/styles/bootstrap/utilities";
@import "/styles/bootstrap/utilities/api";

body {
    background-color: $balitic-sea;
    color: $pampas;
    font-family: "Ubuntu Condensed", sans-serif;
}

.martini {
    background-color: $martini;
    color: $balitic-sea;
}

.pampas {
    background-color: $pampas;
    color: $balitic-sea;
}

.baltic-sea {
    background-color: $balitic-sea;
    color: $pampas;
}

svg {
    fill: $pampas;
    max-width: 30px;
}

ul {
    background-color: $balitic-sea;
}